
┌──────────┐
│ Comments │
└──────────┘
{{ range $comment := .Comments }}
    {{ $comment.Author.DisplayName }}
    {{ Repeat "─" (len $comment.Author.DisplayName) }}
    {{ $comment.Body }}
{{ end }}
